*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.log
.ruby-version

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.bundle

# Qt-es

*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
.qmake.stash
*.autosave

examples/twitter/config.yml
